{# ================================================================
   SUMMARY MODULE GENERATOR mod:lib
   ================================================================ #}

{# ----------------------------- #}
{# Tables                       #}
{# ----------------------------- #}

{% for table in tables %}
pub mod {{ table.table_name }};
{% endfor %}

{# ----------------------------- #}
{# Views                        #}
{# ----------------------------- #}

{% for view in views %}
pub mod {{ view.table_name }};
{% endfor %}
